body {
    background:#777;
    color:black;
    font-size: 12pt;
    font-family: Calibri, Helvetica, Arial;
}

#builtin, #custom {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    top: 0px;
} 