body {
    width: 780px;
    height: 560px;
    margin: 0;
    background-color: black;
    font-size: 12pt;
    font-family: Calibri, Helvetica, Arial;
    font-weight: normal;
}

#ubiq_window {
    position: fixed;
    left: 0px;
    top: 0px;
    visibility: visible;
    width: 780px;
    height: 560px;
    border: 0px;
    padding: 0px;
    z-index: 99999;
    background: #3D3D3D;
    overflow-x: hidden;
    overflow-y: auto;
}

#ubiq-input-panel {
    border: 0;
    margin: 0;
    width: 100%;
    height: 24pt;
}

#ubiq_input {
    border: 1px solid #3D3D3D;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 4pt;
    padding-right: 4pt;
    background: #d3d3d3;
    color: #333;
    font-size: 18pt;
    -webkit-appearance: none;
    outline: none;

    font-family: Geneva, Tahoma, Verdana;
    text-shadow: #888 0px 1px .2px;
}

#ubiq_input:focus {
	color:black;
}        

#ubiq-command-tip, #ubiq-command-preview, #ubiq-results-panel {
    border: 0;
    display: block;
}

#ubiq-bottom-panel {
    height: 100%;
}
#ubiq-command-panel {
    width: 540px; height: 100%;
    vertical-align: top;
}

#ubiq-command-tip {
    color: #ddd;
    font-style: italic;
    width: 540px; height: 0px;
}

#ubiq-command-preview {
    color: #ddd;
    width: 540px; height: 525px;
    position: relative;
}

#ubiq-command-preview a {
    color:white;
    text-decoration: bold;
    font-size: 11.5pt;
}
#ubiq-command-preview #ubiq-preview-div {
    --zoom: 1.0;
    transform: scale(var(--zoom)); transform-origin: 0px 0px;
    -moz-transform: scale(var(--zoom)); -moz-transform-origin: 0 0;
    -webkit-transform: scale(var(--zoom)); -webkit-transform-origin: 0 0;
    width: calc(100% / var(--zoom) / 1.02) !important;
    height: calc(100% / var(--zoom)) !important;
    overflow: auto; position: relative; border:0px;
}
#ubiq-preview-div #ubiq-preview-frm {
    --scrollX: 0px;
    --scrollY: 0px;
    width: calc(100% - 4px + var(--scrollX)) !important; 
    height: calc(100% - 4px + var(--scrollY)) !important;
    background-color: transparent;
    border: 0px;
}

#ubiq-result-panel {
    vertical-align: top;
    width: 100%;
    margin: 0;
    clear: both;
    text-align: left;
    padding-top: 2px;
    color: white;
    height: 525px;
}
#ubiq-result-panel.result {
  padding-left: 4pt;
  padding-right: 4pt;
}
#ubiq-result-panel ul {
	padding:0; 
	margin:0;
    width: 248px; 
    height: 100%;
}

#ubiq-result-panel li {
	color: black; 
	list-style: none; 
	margin: 0; 
    padding-top: 2pt;
	vertical-align: middle;
	padding-left: 12px;
	font-size: 12pt;
	height: 22pt;
	background-color: #a9a9a9; 
	background-repeat: repeat;
}
#ubiq-result-panel li img {
    height: 20pt;
}

#ubiq-result-panel li.selected {
	background-color: #d3d3d3; 
}
